#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

h1.main-title {
  font-size: 2em;
  margin-bottom: 0;
}

.card {
  padding: 2em;
}

.card .passage-label {
  margin-bottom: 0;
}

button:first-child {
  margin-right: 20px;
}

.read-the-docs {
  color: #888;
}

.passage div,
.passage form,
.passage hr,
.passage h3,
br:has(+ form) {
  display: none;
}

/* Show the last div - it should contain the credits */
.passage div:last-of-type {
  display: block;
  margin-bottom: 0.5em;
}

.passage table div {
  display: block;
}

@media only screen and (min-width: 769px) {
  .passage {
    padding: 0 25%;
  }
}

.passage .text .s1 {
  font-weight: bold;
  margin: 0.5em 0;
  color: #A42A30;
  text-align: center;
}

.passage .text {
  text-align: left;
}

.passage .text .v {
  opacity: 0.3;
}